In [104]:
import pandas as pd

In [105]:
df_de = pd.read_csv('../grams/sg_de.csv', names=['frequency', 'word1', 'word2']) # results of skip-grams and 2-grams
df_nl = pd.read_csv('../grams/sg_nl.csv', names=['frequency', 'word1', 'word2']) # results of skip-grams and 2-grams

In [106]:
# list of ~94k US babynames to remove (hello, john), (james, bond)
names = pd.read_csv("../names.csv", names=['name'])['name'].tolist()

In [107]:
names = [i for i in names if type(i) == str] #remove non strings

# Filter names and from list

In [108]:
german_filter = ['ich', 'du', 'sie', 'mir', 'wir', 'ihr', 'uns', 'euch', 'die', 'das', 'der', 'den', 'er', 'und', '!', '/', 'ein', 'eine', 'einer', 'einem', 'mein', 'dein', 'nicht', 'wie', 'wo', 'wann', 'was']

In [109]:
dutch_filter = ['ik', 'jij', 'hij', 'zij', 'wij', 'we', 'jullie', 'hun', 'mij', 'me', 'mijn', 'haar', 'hem', '!', '/', 'een', 'de', 'het', 'wie', 'wat', 'waar', 'hoe', 'niet']

In [110]:
l_de = names + german_filter
l_nl = names + dutch_filter

In [111]:
df_de = \
    df_de[ \
    ~df_de.word1.isin(l_de) & \
    ~df_de.word2.isin(l_de) & \
    ~df_de.word1.str.isnumeric() & \
    ~df_de.word2.str.isnumeric() &\
    ~(df_de.word1.str == df_de.word2.str)
    ]
    
df_nl = \
    df_nl[ \
    ~df_nl.word1.isin(l_nl) & \
    ~df_nl.word2.isin(l_nl) & \
    ~df_nl.word1.str.isnumeric() & \
    ~df_nl.word2.str.isnumeric() & \
    ~(df_de.word1.str == df_de.word2.str)
    ]

# Remove words overlapping with other languages

In [138]:
df_nl_ex = df_nl \
    .merge(df_de ,left_on=['word1', 'word2'], right_on=['word1', 'word2'], how='left')

In [139]:
df_nl_ex.frequency_y.fillna(0, inplace=True)

In [140]:
df = df_nl_ex[df_nl_ex.frequency_y == 0.0].drop('frequency_y', axis=1).rename(index=str, columns={"frequency_x": "frequency"})

# Add word frequency

In [141]:
wc_de = pd.read_csv("../word_counts/wc_de.csv", lineterminator='\n', names=['word', 'word_frequency'])

In [142]:
df = df.merge(wc_de, left_on='word1', right_on='word', how='left') \
.merge(wc_de, left_on='word2', right_on='word', how='left') \
.drop(['word_x', 'word_y'], axis=1) \
.rename(index=str, columns={"word_frequency_x": "word_1_frequency", "word_frequency_y": "word_2_frequency"})

In [143]:
df['normalised_frequency'] = df['frequency'] / (df['word_1_frequency']+df['word_2_frequency']) # divide skipgram freq. by wordcount freq.

In [144]:
df = df.sort_values(by='frequency', ascending=False)

In [146]:
df[df['word2'] == "aan"]

,frequency,word1,word2,word_1_frequency,word_2_frequency,normalised_frequency
369663,365152,er,aan,1907454.0,8.0,0.191433
624230,309547,is,aan,9836.0,8.0,31.445246
238451,144200,maar,aan,11.0,8.0,7589.473684
530578,117279,als,aan,611492.0,8.0,0.191789
78868,111984,die,aan,3505417.0,8.0,0.031946
513858,97507,zijn,aan,NaN,8.0,NaN
379877,94328,heb,aan,2971.0,8.0,31.664317
653940,82748,was,aan,2387393.0,8.0,0.034660
119910,73422,denk,aan,21243.0,8.0,3.454990
85748,72363,met,aan,565.0,8.0,126.287958
288731,69555,u,aan,1415.0,8.0,48.879129
0,64447,dit,aan,130.0,8.0,467.007246
312319,63856,daar,aan,NaN,8.0,NaN
318984,58623,nu,aan,1160.0,8.0,50.190925
24184,57073,hier,aan,1068284.0,8.0,0.053425
261990,55382,op,aan,3411.0,8.0,16.198304
467075,53627,n,aan,65369.0,8.0,0.820273
221409,53593,nog,aan,253.0,8.0,205.337165
322379,51134,iets,aan,1.0,8.0,5681.555556
332497,50326,achter,aan,145.0,8.0,328.928105
228300,47543,rustig,aan,NaN,8.0,NaN
325798,47401,aan,aan,8.0,8.0,2962.562500
78916,46549,voor,aan,6.0,8.0,3324.928571
620941,45925,kijk,aan,NaN,8.0,NaN
251899,44331,geen,aan,3.0,8.0,4030.090909
366257,44216,niets,aan,NaN,8.0,NaN
140296,43373,heeft,aan,1.0,8.0,4819.222222
255325,40778,weet,aan,NaN,8.0,NaN
359612,40496,neem,aan,9.0,8.0,2382.117647
322415,39585,wel,aan,12.0,8.0,1979.250000
...,...,...,...,...,...,...
321541,101,wegwezen,aan,NaN,8.0,NaN
627401,101,monitor,aan,1143.0,8.0,0.087750
365373,101,uitvinden,aan,NaN,8.0,NaN
40750,101,vastgeplakt,aan,NaN,8.0,NaN
193560,101,overkomen,aan,NaN,8.0,NaN
240082,101,dagelijkse,aan,NaN,8.0,NaN
352285,101,boei,aan,NaN,8.0,NaN
33578,101,automatische,aan,590.0,8.0,0.168896
192205,101,snijwonden,aan,NaN,8.0,NaN
232829,101,eeuwigheid,aan,NaN,8.0,NaN
351849,101,glazen,aan,NaN,8.0,NaN
517070,101,vlam,aan,NaN,8.0,NaN
176872,101,noordelijke,aan,NaN,8.0,NaN
147661,101,spannend,aan,1850.0,8.0,0.054360
458905,101,waarschuw,aan,NaN,8.0,NaN
142891,101,bekijkt,aan,NaN,8.0,NaN
150104,101,alibi,aan,2868.0,8.0,0.035118
206351,101,slet,aan,NaN,8.0,NaN
425171,101,teleurgesteld,aan,NaN,8.0,NaN
520953,101,vegen,aan,NaN,8.0,NaN
449552,101,wijf,aan,NaN,8.0,NaN
228219,101,affaire,aan,80.0,8.0,1.147727
606502,101,geleerden,aan,NaN,8.0,NaN
196875,101,mans,aan,259.0,8.0,0.378277
503241,101,proef,aan,NaN,8.0,NaN
482795,101,linkerkant,aan,NaN,8.0,NaN
200962,101,defect,aan,2.0,8.0,10.100000
186888,101,teen,aan,281.0,8.0,0.349481
171730,101,tovenaar,aan,NaN,8.0,NaN
420002,101,ontbreken,aan,NaN,8.0,NaN